body {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Times New Roman', Times, serif;
}




h1 {
    background-color: yellowgreen;
    color: white;
    padding: 10px;
    display: inline-block;
}

.des {
    width: 500px;
    background-color: blanchedalmond;
    padding: 1em;
}

ul {
    list-style: none;
}

ul li {
    font-size: 16px;
}

ol li {
    background-color: blanchedalmond;
    width: 500px;
    padding: 10px;
}

img {
    width: 500px;
    height: auto;
    display: block;
}

button {
    padding: 10px 20px;
    margin: 30px;
}